.avatar {
  &__profile {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #eef5ff;
    background: #7F8FA4;
    color: #eef5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    position: relative;
    font-weight: 400;
  }
}

.header__img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #eef5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  position: relative;
  object-fit: cover;
}

